@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --container-width: 1240px;
    --padding-right: 20px;
  --padding-left: 20px;
  --margin: 0 auto;
}

html {
  scroll-behavior: smooth;
  
}

body {
  @apply bg-white text-[#0C0407] dark:bg-black dark:text-white transition-colors duration-300;
}

.container-global {
  @apply mx-auto max-w-container;
}

.container-diff{
  max-width: 100% !important;
  width: 100% !important;
}
.font-sans{
  font-family: "Inter", sans-serif !important;
}

